.Track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action:hover {
  color: rgba(255, 255, 255, .5);
}

.Track-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.Track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Track-info h3 {
  margin-bottom: .05rem;
  font-size: 1.3rem;
}

.Track-info p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

audio{
  margin-bottom: 15px;
  opacity: 0%;
}

.Cover {
  height: 4.6875rem;
  width: 4.6875rem;
  margin: 1rem;
}


.Playbutton-img {
  height: 2.3437rem;
  width: 2.3437rem;
  margin-left: 1rem;
}

.Playbutton{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 450px) {

  .Track-info h3 {
    margin-bottom: .005rem;
    font-size: 0.9rem;
  }
  
  .Track-info p {
    font-size: .63rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  .Cover {
    height: 2.6875rem;
    width: 2.6875rem;
    margin: 0.5rem;
  }
  
  
  .Playbutton-img {
    height: 1.3437rem;
    width: 1.3437rem;
    margin-left: 0.5rem;
  }
}